#menu {
background:#333;
color:#FFF;
height:100%;
position:absolute;
width:200px;
bottom:0;	
position:fixed;
top:0;
z-index:9999;
}

#menu.menuopen{left:0px;} .user.menuclose{margin-left: 0;}
#menu.menuclose{left:-200px;} .user.menuopen{margin-left:220px;}

#menu ul {
list-style:none;
margin:0;
padding:0;
}

#menu p {
background:url(../img/bg_p_aside.jpg) bottom;
font-size:.625em;
height:18px;
margin:0;
padding:2px 0 0 25px;
}

#menu ul li {
border-bottom:1px solid #000;
box-shadow:0 1px 0 0 #4a4a4a;
font-size:.8em;
margin:0 0 1px;
padding:10px 0 10px 25px;
}

#menu ul li a {
color:#FFF;
opacity:0.5;
padding:0 30px 0 0;
text-decoration:none;
}

#menu .current {
color:#FFF;
opacity:1;
padding:0 30px 0 0;
text-decoration:none;
}

#menu ul li a:hover {opacity:1;}

#menu .logout {
border-bottom:0;
border-top:1px solid #000;
bottom:0;
box-shadow:inset 0 1px 0 0 #4a4a4a;
position:absolute;
width:175px;
}

#menu .logout a {
background:url(../img/logout.png) no-repeat;
padding-left:20px;
}

#menu .onoffswitch {
-moz-user-select:none;
-ms-user-select:none;
-webkit-user-select:none;
display:inline-block;
margin:0 20px;
position:relative;
width:29px;
}

#menu .onoffswitch-checkbox {display:none;}

#menu .onoffswitch-label {
border-radius:15px;
cursor:pointer;
display:block;
overflow:hidden;
}

#menu .onoffswitch-inner {
-moz-transition:margin .3s ease-in 0;
-o-transition:margin .3s ease-in 0;
-webkit-transition:margin .3s ease-in 0;
margin-left:-100%;
transition:margin .3s ease-in 0;
width:200%;
}

#menu .onoffswitch-inner:before,#menu .onoffswitch-inner:after {
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
background:gray;
box-sizing:border-box;
content:"";
float:left;
height:13px;
line-height:13px;
padding:0;
width:50%;
}

#menu .onoffswitch-inner:before {padding-left:10px;}
#menu .onoffswitch-inner:after {padding-right:10px;}

#menu .onoffswitch-switch {
-moz-transition:all .3s ease-in 0;
-o-transition:all .3s ease-in 0;
-webkit-transition:all .3s ease-in 0;
background:#FFF;
border-radius:15px;
bottom:0;
height:15px;
margin:-1px 0 0 -4px;
position:absolute;
right:13px;
top:0;
transition:all .3s ease-in 0;
width:15px;
}

#menu select{
 background: transparent;
 width: 100%;
 padding: 5px;
 font-size: 16px;
 line-height: 1;
 border: 0;
 border-radius: 0;
 height: 26px;
 -webkit-appearance: none;
 -moz-appearance: none;
 appearance: none;
 font-size: .9em;
 font-family:Lucida Grande, Tahoma, Arial, sans-serif;
 color: #fff;
 padding: 0;
 margin: 0;
}

#menu .select{
margin: -5px 0 -5px 0;
background: url(../img/bottom-arrow.png) no-repeat right #333333;
width: 130px;
}

#menu option {
background : #333 ;
}

#menu .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {margin-left:0;}
#menu .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {right:0;}

a.user, a.closecalendars{color: #ccc; text-decoration: none;}
a:hover.user, a:hover.closecalendars {color:#70cfe7;}

a.user {
background:url(../img/picto_nerd.png) no-repeat;
padding-left:35px;
padding-bottom: 8px;
height: 26px;
padding-top: 4px;
}

.closecalendars{position: absolute; right: 0; margin: 0 45px;}

.user{text-align: left;}

nav{margin: 30px 45px;}

#calendars{
top: 0;
background: url(../img/bg_aside_calendars.jpg);
height: 100%;
width: 300px;
position:absolute;
right: -300px;
overflow-y: scroll;
font-family: 'Montserrat', sans-serif;
margin-bottom: 30px;
display: none;
}

#calendars a.closecalendars img{margin-top: 20px; margin-right: -50px;}
#calendars .month {margin: 0 0 0 30px; text-align: center;}
#calendars .month div{margin: 30px 0 10px 0; text-align: center; text-transform: uppercase; font-size: 1em; font-weight: 700; color: #333;}
#calendars .month ul {margin: 3px auto;padding:0 3px; width: 200px;font-weight: 400; font-size: .8em; background: #f4f4f4; display: inline-block; border-radius: 5px; -moz-transition:all .2s ease-in 0; -o-transition:all .2s ease-in 0; -webkit-transition:all .2s ease-in 0; text-align: center;}
#calendars .month .active, #calendars .month ul:hover{ background-color: #ffe988; cursor: pointer;}
#calendars .month li { padding: 5px 6px;width:15px;display: inline-block; text-decoration: none;}
.notinmonth {opacity: .2}

.numWeek{float: left; width: 60px; position: absolute; top:0; margin-top: 50px;margin-left: -10px;}
.numWeek ul{margin: 0 0 58px 0; padding-top:1px;}
.numWeek ul li{margin:16px 0; text-align: right; opacity: .5; color: #e9343b; font-size: .8em;}

strong{font-weight: 700;}

#week_number{
	width: 65%;
	margin: 0 auto;
}
li span.current-week{
	border-radius: 50%;
	background-color: #fee676;
	display: inline-block;
	width: 40px;
	height: 25px;
	text-align: center;
	/*position: relative;
	vertical-align: middle;*/
	padding-top: 10px;
}

#master-planning{
	width: 60%;
	margin: auto;
}
table{
	margin: 0 auto;
	border-spacing: 0px;

}
	table#planning thead{
		padding: 0;
		/*border-bottom: 1px solid #999;*/
	}

	table#planning td {
		font-size: 0.6em;
		text-align: center;

	}

	table#planning tr {
		text-align: right;
		height: 1em;
	}
	table#planning .hour.first{
		border-left-color: white;
	}
	table#planning .hour{
		border-left: 1px solid #999;
	}
	table#planning .half-hour{
		width: 50px;
		padding-left: 10px;
		font-size: 0.8em;
	}

	table#planning td, th {
		vertical-align: middle;
	}
	table#planning th.day{
		border-bottom: 1px solid #999;
		vertical-align: bottom;
		height: 60px;
		width: 85px;
		font-size: 0.7em;
	}	

	table#planning tbody td{
		height:70px;
	}
	table#planning tbody tr td.empty-hour{
		background-color: white;
	}



.hours{background-color: #f4f4f4;}

td p{
	text-align: left;
	padding-left: 13px;
	color: #fff;
	line-height: 1.2em;}

.TP{background-color: #00C586;}
.TD{background-color: #4ba8f0;}
.COURS{background-color: #f04c4b;}
.empty{background-color: #fff; min-height: 60px;}
.TD, .TP, .COURS{border: 1px solid white;}
