body{
	font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
}

h1{
	display: block;
	background-color: #000;
	width: 100%;
	color: #fff;
}

aside{ 
	position: absolute;
	top:0;
	left: 0;
	width: 13%;
	height: 100%;
}

#table{
	width: 80%;
	margin: 4% auto;
}

	table {
		border-collapse: collapse;
		margin: auto;
	}
		thead{
		}

			td,th{
				padding-right: 4%;
				border: 1px solid #999;
			}

aside.calendar{
	position: absolute;
	top:0;
	right:0;
	width: 20%;
	height: 100%;
}