body{
	font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
}

h1{
	display: block;
	background-color: #000;
	width: 100%;
	color: #fff;
}

#tableau{
	width: 80%;
	margin: 4% auto;
}

	table{
		margin: auto;
	}
		thead{
		}
			td{
				padding-right: 4%;
			}